In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
data = {
    'Хлеб': np.random.normal(39, 10, 12),
    'Молоко': np.random.normal(50, 11, 12),
    'Яйца': np.random.normal(40, 12, 12),
    'Кайонез': np.random.normal(70, 13, 12),
    'Кетчуп': np.random.normal(46, 14, 12),
    'Сок': np.random.normal(74, 15, 12),
    'Вода': np.random.normal(61, 16, 12),
    'Макароны': np.random.normal(21, 17, 12),
    'Творог': np.random.normal(50, 18, 12),
    'Рис': np.random.normal(89, 19, 12),
}
data_frame = pd.DataFrame(data)
print(data_frame)

         Хлеб     Молоко       Яйца    Кайонез     Кетчуп        Сок  \
0   60.190323  45.933244  47.688929  61.150335  70.701099  76.222747
1   55.902359  47.813112  34.868884  75.838592  36.002756  78.961205
2   47.023469  49.879511  28.926975  72.162217  43.338589  52.109480
3   53.706805  51.186465  38.831636  72.420122  39.967469  57.786924
4   43.715842  48.021267  40.590776  63.035297  60.054661  96.881553
5   44.785357  42.261014  53.470591  58.479537  61.930284  67.902172
6   48.094306  56.770014  34.454391  64.597968  30.020262  70.414332
7   37.045200  32.446652  58.664702  59.037621  36.878791  51.843214
8   47.931571  54.300313  31.465080  66.321788  30.612308  68.887389
9   34.575534  57.076537  49.045081  59.630166  66.806669  63.154697
10  43.694353  33.097263  27.389152  65.614612  43.519597  70.034366
11  30.304315  49.444809  32.752771  84.533719  60.102077  42.751057

         Вода   Макароны     Творог         Рис
0   77.289618  16.806130  43.291382   84.515961
1   50.262432  12.020246  27.835106  126.049032
2   47.991496 -22.576126  70.533796  104.511858
3   56.716939  32.193285  23.552124   92.990700
4   45.325112  20.862419  95.376239   92.897643
5   51.743426  35.139730  45.046453  103.941527
6   76.580886  37.084865  35.508191   77.518139
7   58.348192  43.949776  15.606832   33.939148
8   53.138365  23.243629  32.776893   83.054208
9   34.270237  16.455728  33.196899   80.356477
10  75.123145  12.213401  27.884596  104.198053
11  95.011405   2.802512  49.681843   89.445956

In [4]:
avg = data_frame.sum() / data_frame.shape[0]
print(avg)

Хлеб        45.580786
Молоко      47.352517
Яйца        39.845747
Кайонез     66.901831
Кетчуп      48.327880
Сок         66.412428
Вода        60.150104
Макароны    19.182966
Творог      41.690863
Рис         89.451559
dtype: float64

In [8]:
std = ((data_frame - avg) ** 2).sum() / (data_frame.shape[0] - 1) ** (1 / 2)
print(std)

Хлеб         251.744681
Молоко       214.366859
Яйца         342.602613
Кайонез      208.000998
Кетчуп       709.489621
Сок          687.828526
Вода         986.922522
Макароны    1055.946016
Творог      1620.179953
Рис         1625.160615
dtype: float64

In [9]:
extrapol = avg + np.random.normal(0, std, len(avg))
pd.concat([data_frame, pd.DataFrame([extrapol], columns=extrapol.index)]).reset_index(drop=True)

,Хлеб,Молоко,Яйца,Кайонез,Кетчуп,Сок,Вода,Макароны,Творог,Рис
0,60.190323,45.933244,47.688929,61.150335,70.701099,76.222747,77.289618,16.806130,43.291382,84.515961
1,55.902359,47.813112,34.868884,75.838592,36.002756,78.961205,50.262432,12.020246,27.835106,126.049032
2,47.023469,49.879511,28.926975,72.162217,43.338589,52.109480,47.991496,-22.576126,70.533796,104.511858
3,53.706805,51.186465,38.831636,72.420122,39.967469,57.786924,56.716939,32.193285,23.552124,92.990700
4,43.715842,48.021267,40.590776,63.035297,60.054661,96.881553,45.325112,20.862419,95.376239,92.897643
5,44.785357,42.261014,53.470591,58.479537,61.930284,67.902172,51.743426,35.139730,45.046453,103.941527
6,48.094306,56.770014,34.454391,64.597968,30.020262,70.414332,76.580886,37.084865,35.508191,77.518139
7,37.045200,32.446652,58.664702,59.037621,36.878791,51.843214,58.348192,43.949776,15.606832,33.939148
8,47.931571,54.300313,31.465080,66.321788,30.612308,68.887389,53.138365,23.243629,32.776893,83.054208
9,34.575534,57.076537,49.045081,59.630166,66.806669,63.154697,34.270237,16.455728,33.196899,80.356477
10,43.694353,33.097263,27.389152,65.614612,43.519597,70.034366,75.123145,12.213401,27.884596,104.198053
11,30.304315,49.444809,32.752771,84.533719,60.102077,42.751057,95.011405,2.802512,49.681843,89.445956
12,249.595767,234.754064,855.688592,354.492469,722.574495,-272.028767,-1134.109875,-1375.305868,-832.369714,847.353452

In [10]:
rel_ability = std / avg
print(rel_ability)

Хлеб         5.523044
Молоко       4.527043
Яйца         8.598223
Кайонез      3.109048
Кетчуп      14.680752
Сок         10.356925
Вода        16.407661
Макароны    55.046024
Творог      38.861751
Рис         18.168053
dtype: float64

In [12]:
condition1 = ((data_frame - avg) < 2 * std).all()
print(condition1)

Хлеб        True
Молоко      True
Яйца        True
Кайонез     True
Кетчуп      True
Сок         True
Вода        True
Макароны    True
Творог      True
Рис         True
dtype: bool

In [13]:
condition2 =  avg > 2 * std
print(condition2)

Хлеб        False
Молоко      False
Яйца        False
Кайонез     False
Кетчуп      False
Сок         False
Вода        False
Макароны    False
Творог      False
Рис         False
dtype: bool

In [14]:
condition3 =  (data_frame > 0).all()
print(condition3)

Хлеб         True
Молоко       True
Яйца         True
Кайонез      True
Кетчуп       True
Сок          True
Вода         True
Макароны    False
Творог       True
Рис          True
dtype: bool

In [16]:
color = pd.Series(dtype='string')
for name in data_frame.columns:
    if (not condition3[name]):
        color[name] = 'Красный'
    elif (not condition1[name] and not condition1[name]):
        color[name] = 'Оранжевый'
    elif (not condition1[name] or not condition1[name]):
        color[name] = 'Желтый'
    else:
        color[name] = 'Зеленый'
print(color)

Хлеб        Зеленый
Молоко      Зеленый
Яйца        Зеленый
Кайонез     Зеленый
Кетчуп      Зеленый
Сок         Зеленый
Вода        Зеленый
Макароны    Красный
Творог      Зеленый
Рис         Зеленый
dtype: object